@import url('https://fonts.googleapis.com/css2?family=Geist:wght@100..900&display=swap');

body {
  font-family: 'Geist', -apple-system, sans-serif;
}

#search,
#toggle_animation,
#toggle_rotation {
  line-height: 0;

  svg {
    height: 16px;
    width: 16px;
  }
}

.navbar {
  backdrop-filter: blur(20px);
  background: rgba(255 255 255 / 0.08);
  border-radius: 32px;
  border: 1px solid rgba(255 255 255 / 0.08);
  margin: 0 auto;
  width: 90%;
  max-width: 500px;
  padding: 0 1rem;
  position: sticky;
  top: 32px;
  z-index: 666;

  form {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }

  button,
  input {
    background: none;
    border: none;
    color: rgb(255 255 255);
    font-size: 1rem;
    font-weight: 500;
    outline: none;
    padding: 0.5rem 1rem;
  }

  input {
    justify-content: center;
    width: 100%;
  }

  button {
    border-radius: 32px;
  }
}

.icon {
  --size: 18px;
  width: var(--size);
  height: var(--size);
}
